Django>=2.0,<3.0
psycopg2-binary
requests
flask
Pillow
asgiref
channels
channels_redis
#python module to install in the project
Twisted
txaio
djangorestframework
django-filter
django-cors-headers
drf-registration
drf_yasg
#for removing the root access of django
#sudo chmod -R a+rwX sneaky(project name)