Django>=2.0,<3.0
psycopg2-binary
requests
flask
Pillow
django-crispy-forms
asgiref
channels
channels_redis
#python module to install in the project
Twisted
txaio
djangorestframework
django-registration-redux
django-crispy-form
django-rest-authemail


#for removing the root access of django
#sudo chmod -R a+rwX sneaky(project name)