{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
 <div class="col-md-6 offset-md-3">
    <div id="vue-app">
    <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1>Login to application</h1>

                    <form method="post" class="uniForm">
                        {% csrf_token %}

                            <div class="row">

                                <div class="col">
                              <label>Username</label>
                                 </div>
                                  <div class="col">
                                      <input class="form-control" type="text" v-model='message' value={{ form.username }}
                                    </div>
                            </div>

                           <div class="row">

                                <div class="col">
                              <label>Email</label>
                                 </div>
                                  <div class="col">
                                      <input class="form-control" type="text" v-model='email' value={{ form.email }}
                                    </div>
                            </div>
                        <div class="row">

                                <div class="col">
                              <label>Password</label>
                                 </div>
                                  <div class="col">
                                      <input class="form-control" type="text" v-model='password1' @input="strength" value={{ form.password1 }}
                                    </div>
                            </div>

                        <div class="row">
                            <div class="col">
                                <div class="progress">
                              <div class="progress-bar" role="progressbar" :style="{ width: u_progress+'%'}" aria-valuenow="{ u_progress }" aria-valuemin="0" aria-valuemax="100">lowercase</div>
                              <div class="progress-bar bg-success" role="progressbar" :style="{ width: l_progress+'%'}" aria-valuenow="{ l_progress }" aria-valuemin="0" aria-valuemax="100">uppercase</div>
                              <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">number</div>
                            </div>
                            </div>
                        </div>
                        <div class="row">

                                <div class="col">
                              <label>Confirm-Password</label>
                                 </div>
                                  <div class="col">
                                      <input class="form-control" type="text" v-model='password2' value={{ form.password2 }}
                                    </div>
                            </div>
                        <button class="btn btn-outline-primary" type="submit">login</button>
                    </form>

                  </div>
            <a href="/accounts/login"> Already having account? Login!</a>
            </div>

      <h1>[[ u_progress ]]</h1>
    </div>
    <script type="text/javascript">
      let app = new Vue({
        el: "#vue-app",
        delimiters: ['[[', ']]'],
        data: {
            message:'',
            u_progress:0,
            l_progress:0,

             username:"",
             email:"",
             password1:"",
             password2:"",
        },
        methods:{
        strength(){
        if(this.password1.length>8)
        {this.l_progress=50;
        }
        this.u_progress=20;

        }
        }

      });
    </script>


</div>
<style>
    .row{
padding:10px;
    }
</style>
{% endblock%}